body {
	background-color: #3F94E7;
}

header img,
form {
	margin: 0 auto;
}

header img {
	height: 35px;
	display: block;
	padding-top: 50px;
}


form {
	width: 400px;
	padding: 0 40px 0 40px;
	box-sizing: border-box;
	background-color: white;
}


form h1 {
	padding-top: 40px;
	font-size: 35px;
	color: #565656;
}


fieldset {
	border: none;
}


.log_in,
form h1,
.forgot_password {
	text-align: center;
}


input[type="email"],
input[type="password"],
button {
	width: 320px;
	border: 2px solid #dddddd;
	padding: 15px;
	box-sizing: border-box;
}



input[placeholder="foobar.com"],
input[placeholder="1234passw0rd"] {
	font-size: 18px;
}

button {
	display: block;
	margin: 0 auto;
	background-color: #65C470;
	border: 2px solid #65C470;
	height: 55px;
	padding: 15px;
}



.forgot_password  {
	padding-bottom: 40px;
}

.forgot_password a {
	color: #9999BB;
}


form,
input[type="password"],
input[type="email"],
button {
	border-radius: 2px;
}



form h1,
input[type="password"],
input[type="email"],
button {
	margin-bottom: 15px;
	margin-top: 15px;
}


button[type="submit"] {
	color: white;
	font-size: 22px;
}


.log_in,
.log_in a {
	font-weight: bold;
	color: white;
}



label[for="email"],
label[for="password"] {
	font-size: 17px;
}